@import "tailwindcss";

/* .bg-image{
    background: url(backgroundHero.png);
    min-height: calc(100vh - 64px);
} */
.bg-image{
    background: rgb(51, 51, 53);
    background-size: cover;
    min-height: 100vh;
}
.tela{
    min-height: calc(100vh - 64px);
}